[submodule "crop_calendar/src/chcfetch"]
	path = crop_calendar/src/chcfetch
	url = https://github.com/nikhilsrajan/chcfetch.git
[submodule "crop_calendar/src/rsutils"]
	path = crop_calendar/src/rsutils
	url = https://github.com/nikhilsrajan/rsutils.git
